<div class="small-container">
  <div class="text-center">
    <h2>Congratulations, you're almost there!</h2>
    <p>There are a few more things you need to take care of.</p>
  </div>

  <h3>1. Add a <code>.travis.yml</code></h3>
  <p>Put an Apachai Hopachai configuration file, <code>.travis.yml</code> , in your Git repository.</p>

  <ul class="nav nav-pills">
    <li class="active"><a href="#travis_ruby" data-toggle="pill">Ruby</a></li>
    <li><a href="#travis_nodejs" data-toggle="pill">Node.js</a></li>
    <li><a href="#travis_other" data-toggle="pill">Other</a></li>
  </ul>
  <p></p>
  <div class="tab-content">
    <div class="tab-pane active" id="travis_ruby">
      <pre>TODO: example</pre>
    </div>
    <div class="tab-pane" id="travis_nodejs">
      <pre>TODO: example</pre>
    </div>
    <div class="tab-pane" id="travis_other">
      <pre>TODO: example</pre>
    </div>
  </div>

  <h3>2. Setup web hook</h3>
  <p>
    Setup a web hook call to Apachai Hopachai so that your Git repository notifies us when you've pushed a new commit.
  </p>
  <ul class="nav nav-pills">
    <li class="active"><a href="#webhook_github" data-toggle="pill">Github</a></li>
    <li><a href="#webhook_gitlab" data-toggle="pill">Gitlab</a></li>
    <li><a href="#webhook_other" data-toggle="pill">Other</a></li>
  </ul>
  <p></p>
  <div class="tab-content">
    <div class="tab-pane active" id="webhook_github">
      <p>Go to your Github repo settings and add the following webhook URL:</p>
      <pre><%= repo_builds_url(:webhook_key => @repo.webhook_key) %></pre>
    </div>
    <div class="tab-pane" id="webhook_gitlab">
      <p>Go to your Gitlab repo settings and add the following webhook URL:</p>
      <pre><%= repo_builds_url(:webhook_key => @repo.webhook_key) %></pre>
    </div>
    <div class="tab-pane" id="webhook_other">
      <p>Ensure that every time you push to your Git repository, a request is POSTed to the following webhook URL:</p>
      <pre><%= repo_builds_url(:webhook_key => @repo.webhook_key) %></pre>
      <p>The POST payload should follow <a href="http://developer.github.com/v3/activity/events/types/#pushevent">the Github webhook format</a> or <a href="http://demo.gitlab.com/help/web_hooks">the Gitlab webhook format</a>. If it doesn't, Apachai Hopachai will only create builds for the latest <code>master</code> branch commit.</p>
    </div>
  </div>

  <h3>3. Add SSH public key</h3>
  <p>
    If your Git repository requires authorization, then install the Apachai Hopachai SSH public key
    so that Apachai Hopachai can clone your repository.
  </p>
  <ul class="nav nav-pills">
    <li class="active"><a href="#ssh_key_github" data-toggle="pill">Github</a></li>
    <li><a href="#ssh_key_gitlab" data-toggle="pill">Gitlab</a></li>
    <li><a href="#ssh_key_other" data-toggle="pill">Other</a></li>
  </ul>
  <p></p>
  <div class="tab-content">
    <div class="tab-pane active" id="ssh_key_github">
      <p>Go to your Github repo settings and add the following deployment key:</p>
      <div class="form-group">
        <textarea readonly rows="6" class="form-control"><%= @repo.public_ssh_key %></textarea>
      </div>
    </div>
    <div class="tab-pane" id="ssh_key_gitlab">
      <p>Go to your Gitlab repo settings and add the following deployment key:</p>
      <div class="form-group">
        <textarea readonly rows="6" class="form-control"><%= @repo.public_ssh_key %></textarea>
      </div>
    </div>
    <div class="tab-pane" id="ssh_key_other">
      <p>Ensure that your repository can be cloned using the following SSH public key:</p>
      <div class="form-group">
        <textarea readonly rows="6" class="form-control"><%= @repo.public_ssh_key %></textarea>
      </div>
    </div>
  </div>

  <h3>4. Start a build</h3>
  <p>
    Push to your Git repository. Apachai Hopachai will detect your push and will start a build.
  </p>
  <pre>$ git push</pre>
  <p>
    When pushed, <%= link_to "reload this page", request.fullpath %>.
  </p>
  <p>
    If you already pushed before setting up a web hook, then manually start a build:</p>
  </p>
  <p><%= link_to "Start a build", repo_model_builds_path(@repo), :method => "post", :class => "btn btn-default" %></a></p>
</div>
