<!DOCTYPE html>
<html>
  <head>
    <title>Apachai Hopachai report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script>
      if (location.href.match(/^file:/)) {
        document.write('<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">');
      }
    </script>
    <style type="text/css">
      .logo {
        margin-top: 10px;
        float: right;
        width: 100px;
        text-align: center;
      }

      .logo-text {
        font-size: 80%;
        font-style: italic;
        line-height: 1.2em;
      }

      .job-log {
        white-space: pre-wrap;
        background: black;
        color: #ddd;
        font-family: Monospace;
        font-size: 12px;
        padding: 8px;
        overflow: auto;
      }

      .summary-2nd-column {
        padding-left: 4em;
      }

      .summary-value {
        padding-left: 2em;
      }

      .build-matrix th {
        padding-right: 1em;
        text-align: left;
      }

      .job-anchor {
        display: inline-block;
        vertical-align: top;
      }

      .job-label {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img class="logo-image" src="data:image/png;base64,<%= Base64.strict_encode64(@info[:logo]) %>" title="http://openclipart.org/detail/72439/muaythai006-by-aungkarns"><br>
        <div class="logo-text">Apachai Hopachai CI report</div>
      </div>

      <h2>Summary</h2>
      <table class="summary-table">
        <tr>
          <td class="summary-header">Date</td>
          <td class="summary-value"><%=h @info[:date] %></td>

          <td class="summary-header summary-2nd-column">Commit</td>
          <td class="summary-value"><%=h @info[:commit] %></td>
        </tr>
        <tr>
          <td class="summary-header">State</td>
          <td class="summary-value"><%=h @info[:state] %></td>

          <td class="summary-header summary-2nd-column">Author</td>
          <td class="summary-value"><%=h @info[:author] %></td>
        </tr>
        <tr>
          <td class="summary-header">Finished</td>
          <td class="summary-value"><%=h @finished_date %></td>

          <td class="summary-header summary-2nd-column">Committer</td>
          <td class="summary-value"><%=h @info[:committer] %></td>
        </tr>
        <tr>
          <td class="summary-header">Duration</td>
          <td class="summary-value" colspan="3"><%= @info[:duration] %></td>
        </tr>
        <tr>
          <td class="summary-header">Message</td>
          <td class="summary-value" colspan="3"><%=h @info[:subject] %></td>
        </tr>
      </table>

      <h2>Build matrix</h2>
      <table class="build-matrix table table-striped">
        <thead>
          <tr>
            <th>Job</th>
            <th>Duration</th>
            <th>Finished</th>
            <th>Env</th>
          </tr>
        </thead>
        <tbody>
          <% for job in @jobs %>
            <tr>
              <td><a href="#job-<%=h job[:id] %>" class="job-link"><%=h job[:name] %></a></td>
              <td><%=h job[:duration] %></td>
              <td><%=h job[:finished] %></td>
              <td><%=h job[:env] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>

      <% for job in @jobs %>
        <h2 id="job-<%=h job[:id] %>" class="job-header">
          <a href="#job-<%=h job[:id] %>" class="job-anchor">Job <%=h job[:name] %></a>
          <% if job[:passed] %>
            <span class="job-label label label-success">Passed</span>
          <% else %>
            <span class="job-label label label-important">Failed</span>
          <% end %>
        </h2>
        <p><small><%=h job[:env] %></small></p>
        <div class="job-log"><%= job[:log] %></div>
      <% end %>
    </div>
  </body>
</html>